.register-box {
  overflow: hidden;
}
.register-box .interest-list {
  overflow: auto;
  height: 250px;
}
.register-box .interest-list .img-interest .logo-tags {
  background-color: #f8f9fa;
  position: relative;
}
.register-box .interest-list .img-interest .logo-tags img {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 90%;
}
.register-box .interest-list .img-interest .tags-name {
  font-size: 13px;
}
.interest-box {
  background-color: white;
}
