@font-face {
  font-family: 'liberation_sansbold';
  src: url('../../fonts/liberationsans-bold-webfont.woff2') format('woff2'), url('../../fonts/liberationsans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'liberation_sansregular';
  src: url('../../fonts/liberationsans-regular-webfont.woff2') format('woff2'), url('../../fonts/liberationsans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
header {
  position: fixed;
  flex: 1 1 auto;
  width: 100%;
  z-index: 2;
  font-family: 'liberation_sansregular';
  font-weight: normal;
  transition: 0.5s;
  background: linear-gradient(3deg, #314755, #48b3e6);
  background-size: 400% 400%;
  -webkit-animation: header 3s ease infinite;
  -moz-animation: header 3s ease infinite;
  animation: header 3s ease infinite;
}
@-webkit-keyframes header {
  0% {
    background-position: 0% 71%;
  }
  50% {
    background-position: 100% 30%;
  }
  100% {
    background-position: 0% 71%;
  }
}
@-moz-keyframes header {
  0% {
    background-position: 0% 71%;
  }
  50% {
    background-position: 100% 30%;
  }
  100% {
    background-position: 0% 71%;
  }
}
@keyframes header {
  0% {
    background-position: 0% 71%;
  }
  50% {
    background-position: 100% 30%;
  }
  100% {
    background-position: 0% 71%;
  }
}
header:hover {
  color: white;
  background-position: right center;
  /* change the direction of the change here */
}
body {
  font-family: 'liberation_sansregular';
  font-weight: normal;
}
.logo-kodekula {
  margin-left: -450px;
  margin-right: -450px;
}
.logo-kodekula img {
  width: 10%;
}
.navbar-nav .nav-link {
  color: white !important;
}
.navbar-nav .nav-link:hover {
  color: #091f22 !important;
}
.input-search-component {
  width: 100%;
}
.search-component {
  padding-left: 80px;
}
