.register-box {
  margin-top: 10%;
  padding: 8%;
  background-color: white;
  font-family: 'liberation_sansregular';
}
.register-box .register-title {
  margin-bottom: 5%;
}
.register-box .register-title img {
  width: 55%;
}
.register-box .register-form {
  text-align: left;
  padding-top: 6%;
}
.register-box .register-form .input-box {
  margin-bottom: 3%;
}
.register-box .register-form .register-button {
  font-family: 'liberation_sansbold';
}
.register-box .register-button {
  font-family: 'liberation_sansbold';
}
.register-box .register-login {
  font-size: 13px;
}
.register-box .fixed-left {
  text-align: left;
}
