@font-face {
  font-family: 'liberation_sansbold';
  src: url('../../fonts/liberationsans-bold-webfont.woff2') format('woff2'), url('../../fonts/liberationsans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'liberation_sansregular';
  src: url('../../fonts/liberationsans-regular-webfont.woff2') format('woff2'), url('../../fonts/liberationsans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
header {
  position: fixed;
  width: 100%;
  z-index: 2;
  font-family: 'liberation_sansregular';
  font-weight: normal;
  background-color: #2851a3 !important;
}
body {
  font-family: 'liberation_sansregular';
  font-weight: normal;
}
.logo-kodekula {
  margin-left: -450px;
  margin-right: -450px;
}
.logo-kodekula img {
  width: 10%;
}
.navbar-nav .nav-link {
  color: white !important;
}
.navbar-nav .nav-link:hover {
  color: #091f22 !important;
}
.input-search-component {
  width: 100%;
}
.search-component {
  padding-left: 80px;
}
