.interest-user {
  margin-top: 12%;
}
.interest-user .img-interest .logo-tags {
  background-color: #f8f9fa;
  position: relative;
}
.interest-user .img-interest .logo-tags img {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 85%;
}
.interest-user .img-interest .tags-name {
  font-size: 13px;
}
