.link-button-text-area {
  text-decoration: none;
  text-align: left;
}
.button-text-area {
  color: black !important;
  font-size: 15px;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  background-color: #d8ebf5 !important;
  margin: 1px;
  border-radius: 5px;
}
.button-text-area:hover {
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white !important;
  background-color: #17a2b8 !important;
}
.button-area-control {
  padding-left: 15px;
  padding-right: 15px;
}
.dropdown-menu.show {
  display: block;
  margin-left: 5px !important;
  margin-top: 0px !important;
}
.control-width {
  width: 450px;
}
.dropdown-item1 {
  width: 100%;
  clear: both;
  font-weight: 400;
  color: #f8f6f6;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  background-color: #17a2b8;
  border-radius: 5px;
  padding: 10px;
}
.control-choosen-tag {
  border-radius: 5px;
  padding: 10px;
  background-color: #17a2b8;
  margin-top: 10px;
}
.btn-grad {
  flex: 1 1 auto;
  margin: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 20px;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}
.btn-grad:hover {
  color: white;
  background-position: right center;
  /* change the direction of the change here */
}
.btn-grad {
  background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
}
